
.button {
	font-weight: 500;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	color: #ffffff;
	background: #C70101;
	border-radius: 5px;
	border: none;
	transition: .2s linear;
	&:hover {
		background: #ad0202;
	}
	&--header{
		width: 150px;
		height: 30px;
		margin-top: 5px;
	};
	&--promo{
		font-size: 16px;
		width: 300px;
		height: 50px;
		margin-top: 65px;
	}
}